html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  color: #414042;
}

.form-container {
    background:#007fa9 url(/public/img/whiteX.png) no-repeat left top;
    margin: 0 auto;
    border-radius: 4px;
    width:500px;
}

label {
    color:#fff;
}

.footer {
  padding: 50px 0;
  text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    color: #414042;
}

#banner {
    position:relative;
    height:507px;
    background:#007fa8 url(/public/img/banner-bg.jpg) no-repeat center top;
    text-align: center;
    color:#fff;
}

#banner h1 {
    color:#fff;
    font-weight:bold;
}

#banner #main_heading {
    padding-top:100px;
}

#banner #sub_heading {
    padding-top:50px;
}

h2 {
    font-weight: 300;
}

h2.less_top_margin {
    margin-top:5px;
}

#chevron {
    position: absolute;
    left:560px;
    top:460px;
    width:51px;
    height:30px;
    background:url(/public/img/chevron_down.png) no-repeat;
}

.gray_section {
    background: #f7f7f7;
}

.form-control {
    border-radius: 0;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: #007fa9;
box-shadow: 0;
outline: 0 none;}