/*
html {
    position: relative;
    min-height: 100%;
    
}
*/

/*
html { 
  background: url(/public/img/header5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

body {
    /* color: #414042; */
    /* background: #f7f7f7; */
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.container {
    position:relative;
}

.form-container {
    /* background:#013f54 url(/public/img/whiteX.png) no-repeat left top; */
    /* margin: 0 auto; */
    border-radius: 4px;
    /* width:690px; */
}

.form-footer {
    /* margin: 0 auto; */
    /* width:690px; */
    padding-top:15px;
    /* text-align: center; */
}

label {
    color:#fff;
}

.footer {
    padding: 50px 0 50px 0;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    color: #000;
    margin-top:0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -2px;
}

h1.white {
    color:#fff;
    margin-top:30px;
    font-size: 40px;
}

#banner {
    position:relative;
    height:920px;
    /* background:url(/public/img/header.jpg) no-repeat center top; */
    color:#fff;
}

#banner h1 {
    color:#fff;
    font-weight:bold;
}

#main_heading {
    text-align: center
}

#banner #main_heading h1 {
    font-size:34px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0;
}

#banner #sub_heading {
    padding-top:30px;
}

#banner #sub_heading h2 {
    margin: 0;
    padding-bottom: 0;
    font-weight: 300;
    font-size:28px;
}

.form-control {
    border-radius: 0;
    padding: 24px 12px;
}

textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {   
    border-color: #007fa9;
    box-shadow: 0;
    outline: 0 none;
}

p.lead {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.step {
    margin:20px 0
}
.btn {
    border-radius: 0;
}

.learn-more {
    margin-top:80px;
    display: inline-block;
    font-size:20px;
}

.btn.btn-default{
   background: #99cd00;
   border-color: #6a9700;
   color:#fff;
   padding:20px 100px;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
}

.btn.btn-default:hover,
.btn.btn-default:active{
    color:#fff;
    background-color: #8ebe00;
}

.satoshi-info {
    padding-top: 6px;
    color:#b2c5c9;
}

.help-block {
    color:#b2c5c9;
}

.copyright {
    padding-top: 10px;
    padding-left:0px;
    text-align: center
}

#logo {
    margin:110px 0 90px 0;
}

.intro-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:22px;
    line-height: 30px;
    margin-top: 55px;
    color:#000;
}

.logo, 
.footer-logo {
    text-align: center;
}

.banner-inner {
    padding-top:20px
}

.white {
    color: #fff;
}

.add-friend-wrap {
    padding-top: 10px
}

a.fb:link {
    display: block;
    height: 56px;
    width:243px;
    background: url(/public/img/fb.png) no-repeat;
    margin:0 auto;
}

a.fb:active, a.fb:hover, a.fb:visited {
    display: block;
    height: 56px;
    width:243px;
    background: url(/public/img/fb.png) no-repeat 0 -60px;
    margin:0 auto;
}

iframe {
    display: none;
}

@media (max-width: 769px) {
    .add-friend {
        padding-top: 0;
        margin-bottom: 15px;
        display: inline-block
    }
}

@media (min-width: 992px) {
    .logo,
    .footer-logo {
        text-align: right
    }
    #main_heading {
        text-align: left
    }
    .banner-inner {
        padding-top:40px
    }
    .copyright {
        text-align: center;
        color:#9ea0a0;
    }
    .add-friend {
        padding-top: 20px;
        display: inline-block
    }
    #firstname_label {
        padding-top:45px
    }
    /* latest */
    #logo {
        margin:50px 0 30px 0;
    }
    .intro-text {
        margin-top: 40px;
    }
    .learn-more {
        margin-top:50px;
    }
}

/*
@media (max-width: 1024px) {
    #logo {
        margin:50px 0 30px 0;
    }
    .intro-text {
        margin-top: 55px;
    }
    .learn-more {
        margin-top:50px;
    }
}
*/

@media (max-width: 480px) {
    #logo {
        width:150px;
        margin-top: 20px;
        margin-bottom: 20px;
    } 
    .intro-text {
        color:#efefef;
        font-size:16px;
        margin-top: 0px;
        line-height: 22px;
    }
    #firstname_label {
        position: relative;
        top:60px;
        padding-top:20px;
    }
    .lead {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    h1,
    h1.white {
        font-size:26px
    }
    #banner #main_heading {
        padding-top:20px
    }
    #banner #main_heading h1 {
        font-size:21px
    }
    #banner #sub_heading h2 {
        font-size: 20px
    }
    #banner #sub_heading {
        padding-top: 20px
    }
    .add-friend {
        padding-top: 0;
        margin-bottom: 15px;
        display: inline-block
    }
}