{% extends "template.html" %}

{% block content %}
    <div class="text-center">
        <h1 class="blue">How to earn your bitcoins:</h1>
        <p class="lead">
            Pre-enroll now to be first to have access to digitalX, launching in Fall 2014.<br> 
            You'll enjoy rock solid security, easy access to your funds, and convenience<br>
            unlike anything else! Refer your friends to earn more.
        </p>
    </div>
    <div class="form-container">
        <div style="padding:30px 50px 20px 30px">
            <form class="form-horizontal" role="form" method="post" action="/home">
              <div class="form-group">
                <label for="firstname" class="col-sm-5 control-label">Your First name*</label>
                <div class="col-sm-7">
                  <input type="text" name="first_name" class="form-control" id="firstname" placeholder="enter your first name">
                </div>
              </div>
               <div class="form-group">
                <label for="lastname" class="col-sm-5 control-label">Your Last name*</label>
                <div class="col-sm-7">
                  <input type="text" name="last_name" class="form-control" id="lastname" placeholder="enter your last name">
                </div>
              </div>
               <div class="form-group">
                <label for="email" class="col-sm-5 control-label">Your Email*</label>
                <div class="col-sm-7">
                  <input type="text" name="email" class="form-control" id="email" placeholder="enter your email address">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-5 control-label">Your Mobile Phone</label>
                <div class="col-sm-7">
                  <input type="text" name="phone" class="form-control" id="phone" placeholder="enter your mobile number">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                  <button type="submit" class="btn btn-success btn-lg btn-block">Sign me up <span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
              </div>
            </form>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}