{% extends "template.html" %}

{% block content %}
    <div class="text-center">
        <h1 class="white">How to receive your free bitcoins</h1>
        <div class="step">
            <img src="/public/img/step1.png" border=0 title="" alt="">
        </div>
        <p class="lead">
            Pre-enroll now to be first to have access to digitalX and receive<br/>$10 worth of bitcoins free**
        </p>
        
        {% if error != '' %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
    </div>

    <div class="form-container">
        <div style="padding:30px">
            <form class="form-horizontal" role="form" method="post" action="/home">
                <script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'custom',
    custom_theme_widget: 'recaptcha_widget'
 };
 </script>
              <div class="form-group">
                <label for="firstname" class="col-sm-4 control-label" id="firstname_label">Your First name*</label>
                <div class="col-sm-6">
                    <p class="help-block pull-right"><small style="color:#fff">* required</small></p>
                  <input type="text" name="first_name" class="form-control" id="firstname" placeholder="enter your first name" value="{{ post.first_name }}">
                </div>
              </div>
               <div class="form-group">
                <label for="lastname" class="col-sm-4 control-label">Your Last name*</label>
                <div class="col-sm-6">
                  <input type="text" name="last_name" class="form-control" id="lastname" placeholder="enter your last name" value="{{ post.last_name }}">
                </div>
              </div>
               <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Your Email*</label>
                <div class="col-sm-6">
                  <input type="text" name="email" class="form-control" id="email" placeholder="enter your email address" value="{{ post.email }}">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Your Country*</label>
                <div class="col-sm-6">
                  <select name="country" class="form-control" id="country" placeholder="select your country">
                    {% for country in countries %}
                        <option value="{{ country.id }}" 
                            {% if post.country != '' %}
                                {% if country.id == post.country %}
                                    selected
                                {% endif %}
                            {% elseif country.id == 451 %}
                                selected
                            {% endif %}>
                            {{ country.printable_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Your Mobile Phone</label>
                <div class="col-sm-6">
                  <input type="text" name="phone" class="form-control" id="phone" placeholder="enter your mobile number" value="{{ post.phone }}">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Verification</label>
                <div class="col-sm-6">
                    
                    <div id="recaptcha_widget" style="display:none">
                        
                       <div style="background-color:#3f3f40;padding:5px;text-align:center">
                            <div id="recaptcha_image" style="margin:0 auto"></div>
                       </div>
                       <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
                       
                       <input type="text" id="recaptcha_response_field" class="form-control" name="recaptcha_response_field" />
                       <small class="recaptcha_only_if_image help-block" style="color:#fff">
                            Type in the words in the image above 
                            <a href="javascript:Recaptcha.showhelp()" style="color:#efefef;float:right">Help</a>
                            <a href="javascript:Recaptcha.reload()" style="color:#efefef;float:right;margin-right:10px">Get another</a> 
                        </small>
                       <small class="recaptcha_only_if_audio help-block" style="color:#fff">Type in the numbers you hear <a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a> <a href="javascript:Recaptcha.showhelp()">Help</a></small>
                       
                       <!--<div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
                       <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
                       <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>-->
                    
                       <div></div>
                    
                     </div>
 
                  {{ captcha|raw }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button type="submit" class="btn btn-default btn-lg btn-block">
                        SIGN ME UP
                    </button>
                </div>
              </div>
            </form>
        </div>
    </div>

    <div class="text-center form-footer">
        <small class="text-muted">
            ** Only applicable to first 5,000 users that pre-enroll before 31 October 2014. Only paid upon verification of identity. 
        </small>
    </div>

    {% include "footer.html" %}
{% endblock %}