{% extends "template.html" %}

{% block content %}
    <div class="text-center">
        <h1 class="white">Thanks for signing up!</h1>
        <div class="step">
            <img src="/public/img/step2.png" border=0 title="" alt="">
        </div>
        <p class="lead">
            We'd like to meet your friends! Refer a friend to digitalX and you'll both earn bitcoins if they sign up.
        </p>
        {% if error != '' %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
    </div>
    <div class="form-container">
        <div style="padding:30px">
            <form class="form-horizontal" role="form" method="post" action="/refer">
              <div id="field-wrap">
                  <div class="form-group friend-block">
                    <label for="firstname" class="col-sm-2 control-label">Friend #1</label>
                    <div class="col-sm-5">
                      <input type="text" name="names[]" class="form-control" placeholder="enter your friends name">
                    </div>
                    <div class="col-sm-5">
                      <input type="text" name="emails[]" class="form-control" placeholder="enter your friends email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">Friend #2</label>
                    <div class="col-sm-5">
                      <input type="text" name="names[]" class="form-control" placeholder="enter your friends name">
                    </div>
                    <div class="col-sm-5">
                      <input type="text" name="emails[]" class="form-control" placeholder="enter your friends email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">Friend #3</label>
                    <div class="col-sm-5">
                      <input type="text" name="names[]" class="form-control" placeholder="enter your friends name">
                    </div>
                    <div class="col-sm-5">
                      <input type="text" name="emails[]" class="form-control" placeholder="enter your friends email">
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5 text-center" class="add-friend-wrap">
                  <a href="javascript:;" style="color:#fff" class="add-friend">+ Add more friends</a>
                </div>
                <div class="col-sm-5">
                  <button type="submit" class="btn btn-default btn-lg btn-block" style="padding-left:0;padding-right:0">SEND INVITE</button>   
                </div>
              </div>
            </form>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}