<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>DigitalX - Your life is digital. Your money should be too.</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/twitter/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/digitalx.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="banner">
        <div class="container">
            <div id="chevron"></div>
            <div class="row" style="padding-top:40px">
                <div class="col-sm-5 text-right">
                    <img src="/public/img/logo.png" border=0 title="" alt="">
                </div>
                <div class="col-sm-7">
                    <div id="main_heading">
                        <h1>Your life is digital.</h1>
                        <h1>Your money should be too.</h1>
                    </div>
                </div>
            </div>
            <div id="sub_heading" class="text-center">
                <h2>Discover how we are changing the future of payments.</h2>
                <h2 class="less_top_margin">Pre-enroll now and earn bitcoins.</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
          {% block content %}
          {% endblock %}             
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/vendor/frameworks/jquery/jquery.min.js"></script>
    <script src="/vendor/twitter/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/digitalx.js"></script>
  </body>
</html>