{% extends "template.html" %}

{% block content %}
    <div class="text-center">
        <br/>
        <h1 class="white">Thank you from the digitalX team!</h1>
        <p class="lead">
            To double the number of your entries and to increase your chances of winning a brand new iPad Air, simply share this page on Facebook!
        </p>
        <div class="step">
            <img src="/public/img/step3.png" border=0 title="" alt="">
        </div>
        <p class="lead text-center">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdigitalx.com" target="_blank" class="fb"></a>
        </p>
    </div>
    {% include "footer.html" %}
{% endblock %}